.dashboard-background{
width: 100vw;
height: 100vh; 
display: flex ;
    flex-direction: row;
    justify-content: space-around;
    
}
.banner-dashboard h2{
margin-top: -25rem;

    
}
.squares {
    max-width: 95rem;
}
.rectangles .rectangle_1{
margin: 5rem 0rem 0rem -10rem;    
    
}
.rectangles .rectangle_2{
margin: 5rem 12rem 0rem 0rem;    
    
}
.banner-dashboard img{
    margin-left: 7rem;
}
